#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 0.5rem;
    margin-bottom: 3rem;

    #title-container {
        text-align: left;

        color: white;

    }


    .links-container {
        display: flex;
        gap: 0.5rem;
        font-size: 1.2rem;

        li {
            display: inline-block;
            margin: 0.6rem auto auto 1rem;


            a {
                color: white;



            }

            :hover {
                color: rgb(121, 197, 255);
                transition: 0.3s ease-in-out;
            }


        }

    }
}