@mixin data-container-mixin {
    border: 1px solid gray;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin-bottom: 2rem;
}


@mixin button {
    color: white;
    background-color: rgb(145, 174, 255);
    border-radius: 0.2rem;
    padding: 0.6rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 1px 1px black;

    }

    &:active {
        transform: translateY(2px);
    }
}