@import "./App.scss";
@import "./Mixins.scss";

#title {
    text-align: center;
    text-decoration: underline;
}

#all-coins-table {
    @include table-mixin;

    caption {
        caption-side: top;
        text-align: center;
    }

    th,
    td {
        @include td-mixin;
    }

    tr:hover {
        background-color: rgba(0, 0, 0, 0.277);
    }

}


.pagination-container {
    text-align: center;

    .pagination-direction-button {
        color: white;
        font-weight: bold;
        border-radius: 0.2rem;
        font-size: 1.5rem;
        background-color: black;
        padding: 0.1rem;
        width: 3rem;
        cursor: pointer;
        margin: 1rem;
    }


    :disabled {
        opacity: 0.5;
        cursor: auto;
    }



}

.pagination-number-button-container {
    text-align: center;

    .pagination-number-button {
        height: 10px;
        width: 1px;
        border-radius: 50%;
        display: inline-block;
        margin: auto 1rem;
        text-align: center;
        background-color: $pagination-dot-color;
        border-color: $pagination-dot-color
    }

    .active {
        background-color: rgb(0, 255, 0);
        border-color: rgb(0, 255, 0);
    }
}