.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    width: 60%;
    margin: 2rem auto;
    text-align: center;

    .home-link {
        font-family: monospace;
        color: blue;
        font-size: 2rem;

        :hover {
            color: red;
        }
    }
}





@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}