@mixin data-container-mixin {
    border: 1px solid gray;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin-bottom: 2rem;
}


@mixin button {
    color: white;
    background-color: rgb(145, 174, 255);
    border-radius: 0.2rem;
    padding: 0.6rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 1px 1px black;

    }

    &:active {
        transform: translateY(2px);
    }
}

@mixin table-mixin {
    text-align: center;
    border: 1px solid rgb(212, 233, 240);
    border-collapse: collapse;
    margin: auto;
    padding: 0.6rem;
}

@mixin td-mixin {
    border: 1px solid rgb(212, 233, 240);
    border-collapse: collapse;
    padding: 0.3rem;
}

@mixin error-container {
    border: 2px solid rgb(255, 84, 84);
    border-radius: 0.4rem;
    background-color: rgb(255, 161, 161);
    width: 50%;
    margin: 0.8rem auto;
    padding: 0.5rem;

    text-align: center;
}